# 项目特定文件
data/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
dist/
build/
*.egg-info/
backup*
# Node
node_modules/
.npm
.yarn
.pnp.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# 操作系统
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini